<!DOCTYPE html>
<html>
  <head>
    <title>Detail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Boniface Hiers</a>
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link'%>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <%= render 'admin/shared/sidebar' %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <%= yield %>
        </main>
      </div>
    </div>
<!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>