<!DOCTYPE html>
<html>
  <head>
    <title>Detail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'kia', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/user_nav" %>
    <%= render "shared/flash" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>